<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retech.tpcms.mapper.ApprovalMapper" >
  <resultMap id="BaseResultMap" type="com.retech.tpcms.entity.Approval" >
    
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    
    <!-- 资源大类 -->
    <result column="res_type" property="resType" jdbcType="INTEGER" />
    
    <!-- 资源编号 -->
    <result column="code" property="code" jdbcType="INTEGER" />
    
    <!-- 审核人 -->
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    
    <!-- 审核阶段：1初审，2复审，3终审 -->
    <result column="approval_node" property="approvalNode" jdbcType="INTEGER" />
    
    <!-- 审核结果：0,待审核，1审核通过，2审核未通过 -->
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    
    <!-- 审核时间 -->
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.retech.tpcms.entity.Approval" extends="BaseResultMap" >
    
    <!-- 审核意见 -->
    <result column="suggestion" property="suggestion" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, org_id, res_type, code, user_id, approval_node, approval_status, edit_time
  </sql>
  <sql id="Blob_Column_List" >
    suggestion
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.retech.tpcms.entity.ApprovalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_approval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.retech.tpcms.entity.ApprovalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_approval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="offset != null and offset >= 0 and limit != null and limit>=0" >
      limit ${offset} , ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_approval
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_approval
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.retech.tpcms.entity.ApprovalExample" >
    delete from t_approval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into t_approval (id, org_id, res_type, 
      code, user_id, approval_node, 
      approval_status, edit_time, suggestion
      )
    values (#{id,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{resType,jdbcType=INTEGER}, 
      #{code,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{approvalNode,jdbcType=INTEGER}, 
      #{approvalStatus,jdbcType=INTEGER}, #{editTime,jdbcType=TIMESTAMP}, #{suggestion,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" >
    insert into t_approval
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="resType != null" >
        res_type,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="approvalNode != null" >
        approval_node,
      </if>
      <if test="approvalStatus != null" >
        approval_status,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="suggestion != null" >
        suggestion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="approvalNode != null" >
        #{approvalNode,jdbcType=INTEGER},
      </if>
      <if test="approvalStatus != null" >
        #{approvalStatus,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestion != null" >
        #{suggestion,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.retech.tpcms.entity.ApprovalExample" resultType="java.lang.Integer" >
    select count(*) from t_approval
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_approval
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.resType != null" >
        res_type = #{record.resType,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.approvalNode != null" >
        approval_node = #{record.approvalNode,jdbcType=INTEGER},
      </if>
      <if test="record.approvalStatus != null" >
        approval_status = #{record.approvalStatus,jdbcType=INTEGER},
      </if>
      <if test="record.editTime != null" >
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suggestion != null" >
        suggestion = #{record.suggestion,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_approval
    set id = #{record.id,jdbcType=INTEGER},
      org_id = #{record.orgId,jdbcType=INTEGER},
      res_type = #{record.resType,jdbcType=INTEGER},
      code = #{record.code,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      approval_node = #{record.approvalNode,jdbcType=INTEGER},
      approval_status = #{record.approvalStatus,jdbcType=INTEGER},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      suggestion = #{record.suggestion,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_approval
    set id = #{record.id,jdbcType=INTEGER},
      org_id = #{record.orgId,jdbcType=INTEGER},
      res_type = #{record.resType,jdbcType=INTEGER},
      code = #{record.code,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      approval_node = #{record.approvalNode,jdbcType=INTEGER},
      approval_status = #{record.approvalStatus,jdbcType=INTEGER},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update t_approval
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="resType != null" >
        res_type = #{resType,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="approvalNode != null" >
        approval_node = #{approvalNode,jdbcType=INTEGER},
      </if>
      <if test="approvalStatus != null" >
        approval_status = #{approvalStatus,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suggestion != null" >
        suggestion = #{suggestion,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" >
    update t_approval
    set org_id = #{orgId,jdbcType=INTEGER},
      res_type = #{resType,jdbcType=INTEGER},
      code = #{code,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      approval_node = #{approvalNode,jdbcType=INTEGER},
      approval_status = #{approvalStatus,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      suggestion = #{suggestion,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update t_approval
    set org_id = #{orgId,jdbcType=INTEGER},
      res_type = #{resType,jdbcType=INTEGER},
      code = #{code,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      approval_node = #{approvalNode,jdbcType=INTEGER},
      approval_status = #{approvalStatus,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2019-04-16 16:11:48 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>